*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}
:root{
      --primary-color:   #FF42A5;
      --paragraph-text-color: #534C64;
      --title-text-color: (180deg, #F948B2 0%, #8758F1 100%);
}

header{
      border-bottom: 1px solid whitesmoke;
}
header nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: auto;
      padding: 25px 0;
}
.web-name{
      display: flex;
}
.web-name .logo{
      width: 70px;
      height: 35px;
      margin: auto;
}
.website-name{
      margin: 0 10px;
      font-size: 30px;
}
.first-latter{
      color: var(--primary-color);
}
span{
      color: var(--primary-color);
}
nav ul{
      display: flex;
      align-items: center;
      list-style: none;
}
ul li{
      margin: 0 30px;
}
li a{
      text-decoration: none;
      color: black;
}
.header-btn{
      padding: 5px 10px;
      border: none;
      font-size: 16px;
}
.header-btn .youtube{
      color: red;
}

            /* hero section style start */

#hero{
      background: url('images/Group14.png');
      background-repeat: no-repeat;
      background-size: contain;
      
}
#hero .hero-row{
      width: 80%;
      margin: auto;
      padding: 25px 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      align-items: center;


}
.hero-image img{
      width: 100%;
}
.hero-content ul{
      margin: 10px 0;
}
.hero-content ul li i{
      color: var(--primary-color);
      margin-right: 10px;
}
.hero-btn{
      margin: 10px 0;
}
.hero-btn .hero-btn1{
      padding: 10px 30px;
      border: none;
      margin-right: 10px;
      background-color: var(--primary-color);
      border-radius: 50px;
      color: white;
}
.hero-btn .hero-btn2{
      padding: 10px 30px;
      border: none;
      background-color: #4EC5F7;
      border-radius: 50px;
      color: white;
}
.hero-content ul li{
      list-style: none;
      margin-left: -1px;
      
}
      /*----------- responsive------------ */
@media screen and (max-width: 576px){
      nav{
            flex-direction: column;
            justify-content: center;
            margin-left: 50px;
      }
      ul{
            flex-direction: column;
            
      }
      .hero-image{
            order: 1;
      }
      .hero-content{
            order: 2;
      }
      
}