*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}
:root{
      --primary-color:   #FF42A5;
      --paragraph-text-color: #534C64;
      --title-text-color: (180deg, #F948B2 0%, #8758F1 100%);
}

header{
      border-bottom: 1px solid whitesmoke;
}
header nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: auto;
      padding: 25px 0;
}
.web-name{
      display: flex;
}
.web-name .logo{
      width: 70px;
      height: 35px;
      margin: auto;
}
.website-name{
      margin: 0 10px;
      font-size: 30px;
}
.first-latter{
      color: var(--primary-color);
}
span{
      color: var(--primary-color);
}
nav ul{
      display: flex;
      align-items: center;
      list-style: none;
}
ul li{
      margin: 0 30px;
}
li a{
      text-decoration: none;
      color: black;
}
.header-btn{
      padding: 5px 10px;
      border: none;
      font-size: 16px;
}
.header-btn .youtube{
      color: red;
}

            /* hero section style start */

#hero{
      background: url('images/Group14.png');
      background-repeat: no-repeat;
      background-size: contain;
      
}
#hero .hero-row{
      width: 80%;
      margin: auto;
      padding: 25px 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      align-items: center;


}
.hero-image img{
      width: 100%;
}
.hero-content ul{
      margin: 10px 0;
}
.hero-content ul li i{
      color: var(--primary-color);
      margin-right: 10px;
}
.hero-btn{
      margin: 10px 0;
}
.hero-btn .hero-btn1{
      padding: 10px 30px;
      border: none;
      margin-right: 10px;
      background-color: var(--primary-color);
      border-radius: 50px;
      color: white;
}
.hero-btn .hero-btn2{
      padding: 10px 30px;
      border: none;
      background-color: #4EC5F7;
      border-radius: 50px;
      color: white;
}
.hero-content ul li{
      list-style: none;
      margin-left: -1px;
      
}
      /*-------- funny video section style start-------- */
.videos-row{
      width: 80%;
      margin:50px auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
}
.video-item {
      position: relative;
    }
.image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
.middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
    }
.video-item:hover .image{
      opacity: 0.5;
    }
    .text {
      color: black;
      font-size: 50px;
      margin-bottom: 60px;
    }
.video-item:hover .middle{
      opacity: 1;
}
.videos-row img{
      width: 100%;
}
.main-content{
      width: 80%;
      text-align: center;
      margin: 50px auto;
}
.funny-paragraph{
      margin: 10px 0;
}
      /* ----------instant section style start-------- */
      .instant-row{
            width: 80%;
            margin:50px auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            align-items: center;
            gap: 20px;
      }
      .instant-content{
            padding-right: 220px;
            text-align: right;
      }
      .instant-heading{
            font-size: 40px;
      }
      .instant-image .instant-img1{
            width: 100%;
      }
      .instant-image .instant-img2{
            width: 50%;
            position: relative;
            top: -240px;
            left: -140px;
      }
      /*----------- responsive------------ */
@media screen and (max-width: 576px){
      nav{
            flex-direction: column;
            justify-content: center;
            margin-left: 50px;
      }
      ul{
            flex-direction: column;
            
      }
      .hero-image{
            order: 1;
      }
      .hero-content{
            order: 2;
      }
      .instant-content{
            margin: 20px 0;
            padding-right: 0;
            text-align: center;
      }
      
}
@media screen and (min-width: 768px) and (max-width:992px){
      .instant-content{
            text-align: center;
            padding-right: 0;
      }
}