*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}
:root{
      --primary-color:   #FF42A5;
      --paragraph-text-color: #534C64;
      --linner-color : linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

header{
      border-bottom: 1px solid whitesmoke;
}
header nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: auto;
      padding: 25px 0;
}
.header-btn i{
      font-size: 20px;
}
.header-btn .youtube{
      color: red;
}
.header-btn .facebook{
      color: rgb(74, 74, 255);
}
.web-name{
      display: flex;
}
.web-name .logo{
      width: 70px;
      height: 35px;
      margin: auto;
}
.website-name{
      margin: 0 10px;
      font-size: 30px;
}
.first-latter{
      color: var(--primary-color);
}
span{
      color: var(--primary-color);
}
nav ul{
      display: flex;
      align-items: center;
      list-style: none;
}
ul li{
      margin: 0 30px;
}
li a{
      text-decoration: none;
      color: black;
}
.header-btn{
      padding: 5px 10px;
      border: none;
      font-size: 16px;
}
.header-btn .youtube{
      color: red;
}

            /* hero section style start */

#hero{
      background: url('images/Group14.png');
      background-repeat: no-repeat;
      background-size: contain;
      
}
#hero .hero-row{
      width: 80%;
      margin: auto;
      padding: 25px 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      align-items: center;


}
.linear-text{
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.hero-image img{
      width: 100%;
}
.hero-content ul{
      margin: 10px 0;
}
.hero-content ul li i{
      color: var(--primary-color);
      margin-right: 10px;
}
.hero-btn{
      margin: 10px 0;
}
.hero-btn .hero-btn1{
      padding: 10px 30px;
      border: none;
      margin-right: 10px;
      background-color: var(--primary-color);
      border-radius: 50px;
      color: white;
}
.hero-btn .hero-btn2{
      padding: 10px 30px;
      border: none;
      background-color: #4EC5F7;
      border-radius: 50px;
      color: white;
}
.hero-content ul li{
      list-style: none;
      margin-left: -1px;
      
}
      /*-------- funny video section style start-------- */
.videos-row{
      width: 80%;
      margin:50px auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
}
.pink-text{
      background: var(--linner-color);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.video-item {
      position: relative;
    }
.image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
.middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
    }
.video-item:hover .image{
      opacity: 0.5;
    }
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 50px;
      margin-bottom: 60px;
    }
    .watch-now{
      color: var(--primary-color);
      margin: 30px 0;
    }
.video-item:hover .middle{
      opacity: 1;
}
.videos-row img{
      width: 100%;
}
.main-content{
      width: 80%;
      text-align: center;
      margin: 50px auto;
}
.funny-paragraph{
      margin: 10px 0;
}
      /* ----------instant section style start-------- */
      .instant-row{
            width: 80%;
            margin:100px auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            align-items: center;
            gap: 20px;
      }
      .instant-content{
            padding-right: 220px;
            text-align: right;
      }
      .instant-content .pink-color{
            background: var(--linner-color);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
      }
      .instant-heading{
            font-size: 40px;
      }
      .instant-image{
            position: relative;
      }
      .instant-image .instant-img1{
            width: 100%;
      }
      .instant-image .position-img{
            width: 250px;
            display: block;
            position: absolute;
            top: 350px;
            left: -30%;
      }

            /* ---------careers section style start----------- */
      #careers{
            background-color: var(--primary-color);
            display: none;
            
      }
      .careers-main{
            background: url('images/Group65.png');
            width: 100%;
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;   
      }
      .careers-content{
            color: white;
      }
      .careers-row{
            width: 80%;
            margin: auto;
            padding: 100px 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
      .careers-list{
            display: flex;
            justify-content: space-between;
            margin: 40px 0;
            color: white;
      }
            /* -----------our games section style start----------- */
      .games-row{
            width: 80%;
            margin:200px auto;
      }
      .games-top{
            display: flex;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
      }
      .games-bottom{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            margin-top: 50px;
      }
      .games-item{
            display: flex;
            align-items: center;
            padding: 5px 0px;
            border: 1px solid transparent;
            transition: 0.2s all ease;
            
      }
      .games-item:hover{
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            border-radius: 50px;
      }
      .games-item img{
            width: 50px;
      }
      .games-name{
            margin: 0 10px;
      }
            /* ---------footer section style start--------- */
      #footer{
            background-color: black;
      }
      .footer-row{
            width: fit-content;
            color: white;
            margin: 0 auto;
            padding: 100px 0;
            text-align: center;
            
      }
      .footer-heading{
            display: flex;
            margin: 0 auto;
            padding: 20px 0;
            justify-content: center;
      }
      .footer-row1 ul{
            display: grid;
            grid-template-columns:repeat(6, 1fr);
            gap: 20px;
            justify-content: space-between;
            align-items: center;
      }
      .footer-row1 ul li{
            list-style: none;
            margin: 0 15px;
      }
      .footer-icons{
            display: flex;
            justify-content: center;
            margin: 50px auto;
            text-align: center;
      }
      .footer-icons i{
            margin: 0 20px;
            font-size: 35px;
      }
      .trems ul{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            
            justify-content: center;
            align-items: center;
      }
      .trems ul li{
            margin: 0 15px;
            list-style: none;
      }
      
      /*----------- responsive------------ */
@media screen and (max-width: 576px){
      nav{
            flex-direction: column;
            justify-content: center;
            margin-left: 50px;
      }
      ul{
            flex-direction: column;
            
      }
      .hero-image{
            order: 1;
      }
      .hero-content{
            order: 2;
      }
      .instant-content{
            margin: 20px 0;
            padding-right: 0;
            text-align: center;
      }
      .footer-row1 ul li{
            margin: 10px 0;
      }
      .trems ul li{
            margin: 10px 0;
            
      }
      .trems ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            
      }
      .footer-row1 ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
      }
      .games-row{
            display: flex;
            justify-content: space-between;
      }
      .games-top{
            flex-direction: column-reverse;
            top: 0;
      }
      .games-bottom{
            flex-direction: column-reverse;
            margin: 0; 
      }
      .instant-image .position-img{
            left: 0;
            top: 250px;
      }
      
      
}
@media screen and (min-width: 768px){
      .instant-content{
            text-align: center;
            padding-right: 0;
      }
      .footer-row1 ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
      }
      .trems ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;     
      }
      
      .instant-image .position-img{
            left: 0;
            top: 430px;
      }
}
@media screen and (max-width:992px){
      .instant-image .position-img{
            left: -100px;
            top: 200px;
      }
      .instant-content{
            margin-right: 100px;
      }
}